doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Product and Tech
    link(rel='stylesheet', href='css/main.css', type='text/css')
  body
    div.content
        section.header
            nav.menu
                each val in menu.items
                    li.menu__item
                        a(href=`index.html#${val.link}`)=val.text
        section.intro
            img.heritage-logo(src=`images/${intro.heritage_logo}`, alt=`{intro.heritage_logo}`, role='presentation')
            div.title
                h1 Apply now
                hr
                p You are part of a team that effects stock markets, influences wars and break down barriers
        section.chapter
            div.form
                h2 Please complete your details.
                form.o-forms.o-forms--wide(action='thankyou.html', name='application', method='POST', netlify)
                    label.o-forms__label(aria-describedby='text-box-info', for='o-forms-standard') Email address
                    input.o-forms__text(type='text', id='o-forms-standard', value='Enter your email address', name='email')

                    label.o-forms__label(aria-describedby='text-box-info', for='o-forms-standard') First name
                    input.o-forms__text(type='text', id='o-forms-standard', value='First name', name='first-name')

                    label.o-forms__label(aria-describedby='text-box-info', for='o-forms-standard') Last name
                    input.o-forms__text(type='text', id='o-forms-standard', value='Last name', name='last-name')

                    label.o-forms__label(aria-describedby='text-box-info', for='o-forms-standard') Attach CV/Resume
                    button.upload Upload CV

                    label.o-forms__label(aria-describedby='text-box-info', for='o-forms-standard') Portfolio
                    input.o-forms__text(type='text', id='o-forms-standard', value='Enter a link to your portfolio', name='portfolio')

                    label.o-forms__label(aria-describedby='text-box-info', for='o-forms-standard') Salary expectations
                    input.o-forms__text(type='text', id='o-forms-standard', name='salary', value='Enter your salary expectations')

                    label.o-forms__label(aria-describedby='text-box-info', for='o-forms-standard') Availability/Notice period
                    input.o-forms__text(type='text', id='o-forms-standard', name='notice-period', value='Enter your availability/notice period')

                    button.submit(type='submit') Submit
        footer.footer
