doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Product and Tech
    link(rel='stylesheet', href='css/main.css', type='text/css')
  body
    div.content
        section.header
            nav.menu
                each val in menu.items
                    li.menu__item
                        a(href=`index.html#${val.link}`)=val.text
        section.intro
            img.heritage-logo(src=`images/${intro.heritage_logo}`, alt=`{intro.heritage_logo}`, role='presentation')
            div.title
                h1 Search for your next role
                hr
                p You are part of a team that effects stock markets, influences wars and break down barriers
        section.chapter
            div.form
                h2 Please complete your details.
                div.form-body
                    form.o-forms.o-forms--wide(action='thankyou.html', name='application', method='POST', netlify)
                        label.o-forms__label(aria-describedby='text-box-info', for='email') Email address
                        input.o-forms__text(type='text', id='email', value='Enter your email address', name='email')

                        label.o-forms__label(aria-describedby='text-box-info', for='first-name') First name
                        input.o-forms__text(type='text', id='first-name', value='First name', name='first-name')

                        label.o-forms__label(aria-describedby='text-box-info', for='last-name') Last name
                        input.o-forms__text(type='text', id='last-name', value='Last name', name='last-name')

                        fieldset.o-forms
                            legend.o-forms__label Location
                            div.o-forms__group.o-forms__group--inline
                                input.o-forms__checkbox(type="checkbox" name="checkbox" value="london" id="london")
                                label.o-forms__label(for="london") London
                                input.o-forms__checkbox(type="checkbox" name="checkbox" value="manilla" id="manilla")
                                label.o-forms__label(for="manilla") Manilla
                                input.o-forms__checkbox(type="checkbox" name="checkbox" value="sofia" id="sofia")
                                label.o-forms__label(for="sofia") Sofia

                        span Attach CV/Resume
                        label.upload-button(for='upload-cv') Upload CV
                        input.upload-file(type='file', id='upload-cv')

                        label.o-forms__label(aria-describedby='text-box-info', for='portfolio') Portfolio
                        input.o-forms__text(type='text', id='portfolio', value='Enter a link to your portfolio', name='portfolio')

                        fieldset.o-forms
                            legend.o-forms__label Role type
                            div.o-forms__group.o-forms__group--inline
                                input.o-forms__checkbox(type="checkbox" name="checkbox" value="contract" id="contract")
                                label.o-forms__label(for="contract") Contract
                                input.o-forms__checkbox(type="checkbox" name="checkbox" value="permanent" id="permanent")
                                label.o-forms__label(for="permanent") Permanent

                        label.o-forms__label(aria-describedby='text-box-info', for='salary') Salary expectations
                        input.o-forms__text(type='text', id='salary', value='Enter your salary expectations', name='salary')

                        label.o-forms__label(aria-describedby='text-box-info', for='notice-period') Availability/Notice period
                        input.o-forms__text(type='text', id='notice-period', value='Enter your availability/notice period', name='notice-period')

                        button.submit-button(type='submit') Submit
        footer.footer
