doctype html
html(lang="en")
    include ../partials/head.pug
    body
        include ../partials/header.pug
        .content
            section.intro-message
                .intro-message__container
                    h1.intro-message__heading Tell us about yourself
                    p.intro-message__text Your perspective will help us make great things happen.
            main.form__container
                .form
                    form(action="thankyou.html" name="application" method="POST" netlify)
                        .form-fields
                            .form-fields__field--invisible
                                label(for="role") Applied for position
                                input(type="text", id="role", name="role")

                            .form-fields__group.form-fields__group--name
                                .form-fields__field.form-fields__field--first
                                    label.o-forms-field
                                        span.o-forms-title
                                            span.o-forms-title__main First name
                                        span.o-forms-input.o-forms-input--text
                                            input.o-forms__text(type="text", id="first-name", placeholder="First name", name="first-name" required)
                                .form-fields__field.form-fields__field--last
                                    label.o-forms-field
                                        span.o-forms-title
                                            span.o-forms-title__main Last name
                                        span.o-forms-input.o-forms-input--text
                                            input(type="text", id="last-name", placeholder="Last name", name="last-name" required)

                            label.o-forms-field
                                span.o-forms-title
                                    span.o-forms-title__main Email address
                                span.o-forms-input.o-forms-input--text
                                    input(type="email", id="email", placeholder="Enter your email address", name="email" required)

                            .o-forms-field(role="group", aria-labelledby="location")
                                span.o-forms-title
                                    span.o-forms-title__main(id="location") Location
                                span.o-forms-input.o-forms-input--radio-round.o-forms-input--inline
                                    label
                                        input(type="radio" name="radio" value="london" id="london" aria-label="London")
                                        span.o-forms-input__label(aria-hidden="true") London
                                    label
                                        input(type="radio" name="radio" value="manila" id="manila" aria-label="Manila")
                                        span.o-forms-input__label(aria-hidden="true") Manila
                                    label
                                        input(type="radio" name="radio" value="sofia" id="sofia" aria-label="Sofia")
                                        span.o-forms-input__label(aria-hidden="true") Sofia

                            div
                                span.o-forms-title
                                    span.o-forms-title__main Attach CV/Resume
                                span.o-forms-input
                                    label.form-fields__button.form-fields__button--upload(for="upload-cv", id="upload-cv-button") Upload CV (.pdf, size < 300KB)
                                    input.form-fields__file(type="file", id="upload-cv", name="upload-cv", accept=".pdf")

                            label.o-forms-field.o-forms-field--optional
                                span.o-forms-title
                                    span.o-forms-title__main Portfolio
                                span.o-forms-input.o-forms-input--text
                                    input(type="text", id="portfolio", placeholder="Enter links to your portfolio e.g. Github, Blog, Behance, Dribbble", name="portfolio")

                            .o-forms-field.o-forms-field--optional(role="group", aria-labelledby="role-type")
                                span.o-forms-title
                                    span.o-forms-title__main(id="role-type") Role Type
                                .o-forms-input.o-forms-input--checkbox.o-forms-input--inline
                                    label
                                        input(type="checkbox" name="checkbox" value="contract" id="contract" aria-label="Contract")
                                        span.o-forms-input__label(aria-hidden="true") Contract
                                    label
                                        input(type="checkbox" name="checkbox" value="permanent" id="permanent" aria-label="Permanent")
                                        span.o-forms-input__label(aria-hidden="true") Permanent

                            .form-fields__group.form-fields__group--additional-info
                                .form-fields__field.form-fields__field--salary-expectations
                                    label.o-forms-field
                                        span.o-forms-title
                                            span.o-forms-title__main Salary expectations (in local currency)
                                        span.o-forms-input.o-forms-input--text
                                            input(type="text", id="salary", placeholder="Enter your salary expectations in local currency", name="salary")
                                .form-fields__field.form-fields__field--availability
                                    label.o-forms-field.o-forms-field--optional
                                        span.o-forms-title
                                            span.o-forms-title__main  Availability/Notice period
                                        span.o-forms-input.o-forms-input--text
                                            input(type="text", id="notice-period", placeholder="Enter your availability/notice period", name="notice-period")

                            button.form-fields__button.form-fields__button--submit(type="submit", id="submit-application") Submit
    include ../partials/footer.pug
script(type="text/javascript")
    include ../../scripts/script.js
