doctype html
html(lang="en")
  include ../partials/head.pug
  body
    .content
        include ../partials/menu.pug
        section.intro
            .heritage-logo-container
                img.heritage-logo(src=`images/${intro.heritage_logo}`, alt=`{intro.logo}`, role='presentation')
            h1 Thank you
            hr
            p A member of our team will be in contact shortly
