doctype html
html(lang="en")
  include ../partials/head.pug
  body
    .content
        include ../partials/header.pug
        header.intro
            h1 Thank you
            hr
            p A member of our team will be in contact shortly. In the meantime feel free to perform one of the following actions:
            .thank-you-buttons
                a(href="https://www.ft.com/" role="button" target="_blank") Use our website
                a(href="https://medium.com/ft-product-technology" role="button" target="_blank") Read our blog
                a(href="https://github.com/Financial-Times" role="button" target="_blank") Visit our GitHub

