doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Product and Tech
    link(rel='stylesheet', href='css/main.css', type='text/css')
  body
    .content
        nav.menu
            a(href='index.html')
                img.central-logo(src=`images/${intro.logo}`, alt=`{intro.logo}`, role='presentation')
            a.current-openings(href='#current-openings') Current openings
        section.intro
            .heritage-logo-container
                img.heritage-logo(src=`images/${intro.heritage_logo}`, alt=`{intro.logo}`, role='presentation')
            h1 Thank you
            hr
            p A member of our team will be in contact shortly
