doctype html
html(lang="en")
  include ../partials/head.pug
  body
    .content
        include ../partials/header.pug
        section.intro
            .header-container
                h1 Thank you
                hr
                p A member of our team will be in contact shortly
