header.o-header-services(data-o-component="o-header-services")
    .o-header-services__top.menu__container
        .o-header-services__logo
        .o-header-services__title
            a(href="index.html").logo-link
                h1.o-header-services__product-name.logo-text Product &amp; Tech
        ul.o-header-services__related-content
            li
                a(href="index.html") About us
            li
                a(href="openings.html") Roles