header.o-header-services(data-o-component="o-header")
    div.o-header-services__top.o-header-services__bleed-container
        div.o-header-services__ftlogo
        div.o-header-services__title.index-link
            h1.o-header-services__product-name
                a(href="index.html") Product #[br]&amp; Tech
        div.o-header-services__title.index-link.openings-link
            h1.o-header-services__product-name
                a(href="openings.html#current-openings") Current openings
