head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Product and Technology
	link(rel='stylesheet', href='css/main.css', type='text/css')
	meta(property='og:title', content='Product and Technology')
	meta(property='og:url', content='https://www.roles.ft.com')
	meta(property='og:description', content='Join the team')
	meta(property='og:image', content='https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Abrand-ft-logo-square?source=recruitment-microsite&format=png')
	meta(property='og:image:width', content='180')
	meta(property='og:image:height', content='110')
	meta(property='og:type', content='website')
	link(rel='icon', type='image/png', href='https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Abrand-ft-logo-square?source=update-logos&width=32&height=32&format=png', sizes='32x32')
	link(rel='icon', type='image/png', href='https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Abrand-ft-logo-square?source=update-logos&width=194&height=194&format=png', sizes='194x194')
	link(rel='apple-touch-icon', sizes='180x180', href='https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Abrand-ft-logo-square?source=update-logos&width=180&height=180&format=png')
	//
	//
	// Earn extra points before the interview
	// find 10 things that can be improved on this website
	// and send them to talent@ft.com
	//
	// 
