header.o-header-services(data-o-component="o-header")
    .content
        .o-header-services__top.o-header-services__bleed-container.menu-container
            a(href="index.html").logo-link
                .o-header-services__ftlogo
                .o-header-services__title
                    h1.o-header-services__product-name Product &amp; Tech
            .o-header-services__title.text-link
                h1.o-header-services__product-name.about
                    a(href="index.html") About us
                h1.o-header-services__product-name.roles
                    a(href="openings.html") Roles
