header.o-header-services(data-o-component="o-header")
    .o-header-services__top.o-header-services__bleed-container
        a(href="index.html").index-link
            .o-header-services__ftlogo
            .o-header-services__title
                h1.o-header-services__product-name Product #[br]&amp; Technology
        .o-header-services__title.index-link.openings-link
            h1.o-header-services__product-name
                a(href="openings.html") Current openings
