// Origami
@import 'o-buttons/main';
@import 'o-colors/main';
@import 'o-fonts/main';
@import 'o-footer-services/main';
@import 'o-forms/main';
@import 'o-header-services/main';
@import 'o-icons/main';
@import 'o-typography/main';

@include oFontsInclude(FinancierDisplayWeb, regular);
@include oFontsInclude(FinancierDisplayWeb, bold);

@include oFontsInclude(MetricWeb, $weight: regular);
@include oFontsInclude(MetricWeb, $weight: semibold);
@include oFontsInclude(MetricWeb, $weight: bold);

// Non origami colors
$dark-slate: #1A1D24;
$light-grey: #4A4A4A;

// Variables
$animation-fade-in: 2s;
$animation-fade-out: 1.25s;
$content-width: 1150px;
$one-third-card-width: 280px;

// Breakpoints
$breakpoint-vs: 340px;
$breakpoint-s: 420px;
$breakpoint-m: 780px;
$breakpoint-l: 960px;
$breakpoint-vl: 1340px;

//////////////////////////////////////////////////////////
// Base
//////////////////////////////////////////////////////////

html,
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: oColorsGetPaletteColor('slate');
}

.invisible {
  display: none;
}

//////////////////////////////////////////////////////////
// Layout
//////////////////////////////////////////////////////////

.content {
  display: grid;
  grid-template-columns:
    minmax(20px, 1fr)
    minmax(auto, $content-width)
    minmax(20px, 1fr); // Inspired by https://gedd.ski/post/article-grid-layout/
}

@media only screen and (max-width: $breakpoint-m) {
  .content {
    grid-template-columns:
      minmax(0, 1fr)
      minmax(auto, $content-width)
      minmax(0, 1fr);
  }
}

header,
.quotes,
.video,
.apply,
footer {
  grid-column: 1/-1;
}

.video__content,
.menu__container,
.intro,
.about,
.culture,
.quotes__wrapper,
.people,
.benefits,
.intro-message,
.vacancy,
.live-vacancies,
.form,
.vacancy__table,
.live-vacancies__wrapper {
  grid-column: 2;
}

.intro,
.quotes__wrapper,
.apply,
.intro-message,
.about,
.culture,
.people,
.benefits,
.vacancy,
.live-vacancies {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.intro,
.quotes__wrapper,
.apply,
.intro-message {
  grid-template-rows: 0.66fr minmax(16em, 5fr) 1fr;
}

.about,
.culture,
.people,
.benefits {
  grid-template-rows: auto auto;
}

.intro__heritage-logo__container,
.quotes__heritage-logo__container {
  grid-row: 1/-1;
  grid-column: 2;
  display: grid;
  align-content: center;
}

.intro__message__container,
.intro-message__container,
.quotes__quote__container,
.apply__wrapper {
  grid-row: 2;
  grid-column: 2;
}

.intro-message__container {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
}

.intro-message__heading {
  grid-column: 1/-1;
}

.intro-message__text {
  grid-column: 2;
}

@media only screen and (max-width: $breakpoint-m) {
  .intro-message__text {
    grid-column: 1/-1;
  }
}

.benefits__cards,
.people__interviews,
.culture__cards {
  grid-column: 1/-1;
  grid-row: 2;
  display: grid;
  grid-gap: 16px;
  justify-content: center;
}

.benefits__cards,
.people__interviews {
  grid-template-columns: repeat(auto-fill, minmax($one-third-card-width, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
}

.culture__cards {
  grid-template-columns: repeat(3, 1fr);
}

.about__announcement,
.culture__announcement,
.people__announcement,
.benefits__announcement {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 0.3em minmax(4em, 1fr) auto;
}

.about__announcement__section-line,
.culture__announcement__section-line,
.people__announcement__section-line,
.benefits__announcement__section-line {
  grid-column: 1/-1;
  grid-row: 1;
  align-self: end;
}

.about__announcement__heading,
.culture__announcement__heading,
.people__announcement__heading,
.benefits__announcement__heading {
  grid-column: 1/-1;
  grid-row: 2/-1;
}

.about__announcement__text,
.culture__announcement__text,
.people__announcement__text,
.benefits__announcement__text {
  grid-column: 2;
  grid-row: 3/-1;
}

@media only screen and (max-width: $breakpoint-m) {
  .intro,
  .about,
  .culture,
  .people,
  .benefits {
    grid-template-columns: 20px 8fr 20px;
  }
}

.vacancy__heading {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 0.3em 4em auto auto auto auto;
}

.vacancy__section-line {
  grid-column: 1/-1;
  align-self: end;
}

.vacancy__label {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-self: center;
}

.vacancy__i {
  grid-column: 2;
  justify-self: end;
}

.vacancy__table {
  grid-column: 1/-1;
}

@media only screen and (max-width: $breakpoint-m) {
  .culture__cards {
    grid-column: 1/-1;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .culture__card {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
  }

  .culture__card__image,
  .culture__card__heading,
  .culture__card__text {
    grid-column: 2;
  }

  .benefits__cards {
    grid-column: 1/-1;
  }

  .people__interviews {
    grid-column: 2;
  }

  .about__announcement,
  .culture__announcement,
  .people__announcement,
  .benefits__announcement {
    grid-column: 2/5;
  }
  
  .about__announcement__section-line,
  .culture__announcement__section-line,
  .people__announcement__section-line,
  .benefits__announcement__section-line {
    grid-column: 1;
  }

  .about__announcement__heading,
  .culture__announcement__heading,
  .people__announcement__heading,
  .benefits__announcement__heading {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .about__announcement__text,
  .culture__announcement__text,
  .people__announcement__text,
  .benefits__announcement__text {
    grid-column: 1/-1;
    grid-row: 3/-1;
  }
}

.name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .first-name {
    grid-column: 1;
  }

  .last-name {
    grid-column: 2;
  }
}

@media only screen and (max-width: $breakpoint-m) {
  .name {
    .first-name {
      grid-column: 1/-1;
    }

    .last-name {
      grid-column: 1/-1;
    }
  }
}

.additional-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .salary-expectations {
    grid-column: 1;
  }

  .availability {
    grid-column: 2;
  }
}

@media only screen and (max-width: $breakpoint-m) {
  .additional-info {
    .salary-expectations {
      grid-column: 1/-1;
    }

    .availability {
      grid-column: 1/-1;
    }
  }
}

.live-vacancies__wrapper {
  grid-column: 2;
}

.vacancy__table {
  display: grid;
  grid-template-columns: 2fr 6fr;
}

.vacancy__text--top-left {
  grid-column: 1;
}

.vacancy__text--top-right {
  grid-column: 2;
}

.vacancy__table-section-line {
  grid-column: 1/-1;
}

@media only screen and (max-width: $breakpoint-m) {
  .vacancy__text--top-left,
  .vacancy__text--top-right {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .vacancy__text--top-left--righter {
    grid-column: 2;
  }
  
  .vacancy__text--top-left--lefter {
    grid-column: 1;
  }

  .vacancy__text--left,
  .vacancy__text--right {
    grid-column: 1/-1;
  }
}

//////////////////////////////////////////////////////////
// Mixins
//////////////////////////////////////////////////////////

.intro__thank-you-button,
.live-vacancies__link,
.apply__link,
.intro__message__link,
.vacancy__button {
  @include oButtons('big');
  @include oButtonsTheme('primary');
  @include oButtonsTheme('inverse');
}

.o-header-services {
  @include oHeaderServices($class: 'o-header-services');
}

footer {
  @include oFooterServicesBase($class: 'o-footer-services');
}

.form {
  @include oFormsBaseFeatures();
  @include oFormsWideFeature();
  @include oFormsRadioCheckboxFeatures();
}

.fields .upload-button,
.fields .submit-button {
  @include oButtons($size: big, $theme: primary);
}

//////////////////////////////////////////////////////////
// Typography
//////////////////////////////////////////////////////////

body, body a {
  color: oColorsGetPaletteColor('white-80');
}

.people__interviews__interview__text,
.intro-message__text,
.intro__message__text,
.quotes__quote__text,
.culture__card__text {
  @include oTypographySans($scale: 1);
}

.quotes__quote__text {
  text-align: center;
}

.intro-message__heading,
.intro__message__heading {
  @include oTypographyDisplay($scale: 8);
  font-weight: 400;
}

@media only screen and (max-width: $breakpoint-s) {
  .intro-message__container__header,
  .intro__message__container__header {
    @include oTypographyDisplay($scale: 6);
  }
}

.o-header-services .o-header-services__product-name {
  @include oTypographySans($scale: 1);
}

.about__announcement__heading,
.culture__announcement__heading,
.people__announcement__heading,
.benefits__announcement__heading,
label {
  @include oTypographySans($scale: 4);
  font-weight: 400;
}

.about__announcement__text,
.culture__announcement__text,
.people__announcement__text,
.benefits__card__text,
.vacancy {
  @include oTypographySans($scale: 0);
}

.benefits__card__heading {
  @include oTypographyDisplay($scale: 5);
  color: $light-grey;
}

.vacancy__description__subheading,
.vacancy__text--top-left--lefter {
  font-weight: 600;
}

.culture__card,
.benefits__card__text {
  color: $light-grey;
}

.culture__card__heading {
  @include oTypographySans($scale: 1);
  font-weight: 600;
}

.quotes__quote__heading {
  text-align: center;
  @include oTypographyDisplay($scale: 8);
  font-weight: 200;
}

@media only screen and (max-width: $breakpoint-m) {
  .quotes__quote__heading {
    @include oTypographyDisplay($scale: 5);
  }
}

.apply__wrapper {
  text-align: center;
}

.apply__heading {
  @include oTypographySans($scale: 6);
  font-weight: 400;
}

.apply__text {
  @include oTypographySans($scale: 1);
}

.intro-message__text,
.intro__message__text {
  @include oTypographySans($scale: 1);
}

.form h2 {
  @include oTypographySansBold($scale: 1);
  color: oColorsGetPaletteColor('white-80');
}

.fields {
  .o-forms__label {
    @include oTypographySansBold($scale: 0);
    color: oColorsGetPaletteColor('black-80');
  }

  .o-forms__text {
    @include oTypographySans($scale: 0);
    color: oColorsGetPaletteColor('black-40');
  }

  .o-forms__errortext {
    @include oTypographySans($scale: 0);
  }

  .o-forms__group .o-forms__label {
    @include oTypographySans($scale: 0);
    color: oColorsGetPaletteColor('black-80');
  }

  span {
    @include oTypographySansBold($scale: 0);
    color: oColorsGetPaletteColor('black-80');
  }

  .upload-button {
    @include oTypographySans($scale: 0);
    color: oColorsGetPaletteColor('white-80');
  }

  .submit-button {
    @include oTypographySans($scale: 0);
    color: oColorsGetPaletteColor('white-80');
  }
}

.o-footer-services__wrapper {
  color: oColorsMix(slate, white, 20);
}

.o-footer-services__links a {
  color: oColorsMix(slate, white, 20);
  border: none;
}

.o-footer-services__links a:hover {
  color: oColorsMix(slate, white, 0);
}

//////////////////////////////////////////////////////////
// Components
//////////////////////////////////////////////////////////

// Generic

.about__announcement,
.culture__announcement,
.people__announcement,
.benefits__announcement {
  margin-bottom: 2em;
}

.about__announcement__section-line,
.culture__announcement__section-line,
.people__announcement__section-line,
.benefits__announcement__section-line,
.live-vacancies__section-line {
  border-top: 4px solid oColorsGetPaletteColor('claret-100');
}

.about__announcement__text,
.culture__announcement__text,
.people__announcement__text,
.benefits__announcement__text {
  margin-right: 2em;
}

.benefits__cards,
.people__interviews {
  margin-bottom: 5rem;
}

@media only screen and (max-width: $breakpoint-m) {
  .benefits__cards,
  .people__interviews {
    margin-bottom: 1rem;
  }

  .not-on-mobile {
    display: none;
  }
}

// Header

.menu__container {
  width: 100%;
}

// Intro

.intro {
  text-align: center;
  padding: 1em;
}

.intro-message__container,
.intro__message__container {
  padding-top: 5vh;
}

.intro__thank-you-button {
  margin-top: 1em;
  margin-left: 5px;
  margin-right: 5px;
  width: 11em;
}

.intro-message__heading,
.intro__message__heading {
  max-width: 800px;
  margin-bottom: 0;
}

.intro-message__text,
.intro__message__text {
  max-width: 480px;
  margin: auto;
  margin-bottom: 3em;
  margin-top: 1em;
}

.intro__message__logo {
  max-width: 350px;
  max-width: 90vw;
  margin: 0 auto 1em auto;
}

@media only screen and (max-width: $breakpoint-m) {
  .intro__message__logo {
    width: 200px;
  }

  .intro__heritage-logo__container {
    top: 35vh;
  }
}

.intro__heritage-logo__container,
.quotes__heritage-logo {
  width: 100%;
}

.intro__heritage-logo {
  max-width: 100%;
  max-height: 30vh;
  margin: auto;
}

// Vacancies page
.intro .title {
  hr {
    background-color: oColorsGetPaletteColor('claret-100');
    width: 60px;
    height: 4px;
    border: none;
  }
}

// Video
.video {
  margin-bottom: 2em;
}

.video__wrapper {
  background-color: oColorsGetPaletteColor('claret-100');
  position: relative;
}

.video__content {
  width: 100%;
  margin-top: -2px;
}

.video__content::-webkit-media-controls-overlay-play-button {
  display: none;
}

.video__play-button {
  background-image: url(../images/play_button.png);
  background-size: cover;
  width: 107px;
  height: 107px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
}

// Culture

.culture__cards {
  margin-bottom: 5rem;
  text-align: center;
}

.culture__card {
  background-color: oColorsGetPaletteColor('white-80');
}

.culture__card__image {
  width: 100%;
}

.culture__card__heading {
  margin-top: 50px;
}

.culture__card__text {
  margin: 2rem 10% 67px 10%;
}

@media only screen and (max-width: $breakpoint-m) {
  .culture__cards {
    margin-bottom: 1rem;
  }

  .culture__card {
    margin-top: 120px;
  }

  .culture__card__image {
    margin-top: -120px;
  }

  .culture__card__heading {
    margin: 0;
  }

  .culture__card__text {
    margin-top: 0;
    margin-bottom: 1em;
  }
}

// Quotes

.quotes__quote__divider {
  width: 60px;
  height: 4px;
  margin-bottom: 1.3em;
  margin-top: 1.3em;
  background-color: oColorsGetPaletteColor('claret-100');
  border: none;
}

.quotes {
  min-height: 430px;
  background-color: $dark-slate;
  margin-bottom: 2em;
}

@media only screen and (max-width: $breakpoint-m) {
  .quotes {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 215px;
  }
}

// People

.people__interviews__interview {
  position: relative;
  text-align: center;
  max-width: 100vw;
}

.people__interviews__interview__image {
  // images are inline by default, so they sit on a line-block (and have a gap at the bottom!)
  display: block;
  width: 100%;
  will-change: filter;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter 1s;
  transition: filter 1s;
}

.people__interviews__interview__text {
  opacity: 0;
  transition: opacity 1s;

  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
  pointer-events: none;

  // shading
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4));
  padding-bottom: 6px;
  padding-top: 6px;
  bottom: 0;
}

.people__interviews__interview:hover {
  .people__interviews__interview__image {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .people__interviews__interview__text {
    opacity: 1;
    transition: opacity 1s;
  }
}

// Benefits

.benefits__card {
  max-width: 100vw;
  background-color: oColorsGetPaletteColor('white-80');
  position: relative;
}

.benefits__card__divider {
  margin-left: 10%;
  margin-top: 30px;
  height: 4px;
  width: 52px;
  background-color: $light-grey;
  border: none;
}

.benefits__card__heading {
  margin: 10px 20% 0 10%;
}

.benefits__card__text {
  margin: 1rem 20% 2rem 10%;
}

.benefits__card--0:after {
  content: " ";
  display: block;
  width: 3px;
  height: 75px;
  background: oColorsGetPaletteColor('claret-100');
  transform: rotate(50deg);
  position: absolute;
  bottom: 20px;
  right: 60px;
}

.benefits__card--4 .benefits__card__heading {
  max-width: 250px;
}

.benefits__card--4:after {
  content: " ";
  display: block;
  width: 3px;
  height: 70px;
  background: oColorsGetPaletteColor('claret-100');
  transform: rotate(50deg);
  position: absolute;
  top: 20px;
  right: 60px;
}

// Apply

.apply__wrapper {
  background-color: $dark-slate;
  padding-bottom: 4em;
  padding-top: 2em;
  margin-bottom: 2em;
}

.apply__heading {
  margin-bottom: 1rem;
}

.apply__text {
  margin-bottom: 1rem;
}

.apply__link {
  margin-top: 2em;
}

@media only screen and (max-width: $breakpoint-m) {
  .apply__wrapper {
    margin-bottom: 0.3em;
  }
}

// Openings page

.vacancy__section-line {
  border-top: 2px solid oColorsGetPaletteColor('claret-100');
}

.vacancy__table {
  overflow: hidden;
}

.vacancy__description__list {
  margin-top: 1em;
}

.vacancy__description__list--ul {
  list-style-type: square;
  list-style-position: outside;
}

.vacancy__text--top-left,
.vacancy__text--top-right {
  display: flex;
}

.vacancy__description {
  display: block;
}

.vacancy__text--top-left--lefter,
.vacancy__text--left {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: $breakpoint-m) {
  .vacancy__text--top-left--lefter, .vacancy__text--top-left--righter {
    margin-bottom: 0.3em;
  }
}

.vacancy__section-header {
  margin-bottom: 0.6rem;
}

.vacancy__table-section-line {
  width: 100%;
  height: 1px;
  background-color: oColorsGetPaletteColor('white-80');
}

.vacancy__buttons {
  display: flex;
}

.vacancy__button {
  margin: 10px;
  margin-top: 1em;
}

.live-vacancies__wrapper {
  margin-bottom: 3em;
}

.live-vacancies__link {
  margin-top: 7em;
  width: 230px;
  height: 2em;
}

// Form

.name {
  .first-name {
    margin-right: 10px;
  }

  .last-name {
    margin-left: 10px;
  }
}

@media only screen and (max-width: $breakpoint-m) {
  .name {
    display: block;

    .first-name {
      margin-right: 0;
    }

    .last-name {
      margin-left: 0;
    }
  }
}

.additional-info {
  .salary-expectations {
    margin-right: 10px;
  }

  .availability {
    margin-left: 10px;
  }
}

@media only screen and (max-width: $breakpoint-m) {
  .additional-info {
    display: block;

    .salary-expectations {
      margin-right: 0;
    }

    .availability {
      margin-left: 0;
    }
  }
}

// Header
.o-header-services {
  background-color: black;
  width: 100%;

  .logo-text {
    font-weight: 400;
  }

  .o-header-services__ftlogo {
    margin: 8px 8px 8px 0;

    background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:brand-ft-logo-squared-bw?source=o-header-services&format=svg&width=55);
  }
}

.o-header-services__top .logo-link {
  float: left;
}

.o-header-services .o-header-services__title {
  padding: 16px 10px;
}

.o-header-services__top .text-link {
  float: right;
  padding: 16px 10px;

  .o-header-services__product-name {
    margin-left: 20px;
  }
}

@media only screen and (max-width: $breakpoint-m) {
  .o-header-services__top .text-link .o-header-services__product-name {
    margin-left: 10px;
  }
}

@media only screen and (max-width: vs) {
  .o-header-services .o-header-services__bleed-container {
    padding: 0 5px;
  }

  .o-header-services .o-header-services__title {
    padding-left: 0;
    padding-right: 5px;
  }
}

.openings header .content .o-header-services__top .o-header-services__title .roles a,
.landing header .content .o-header-services__top .o-header-services__title .about a {
  border-bottom: 1px solid oColorsGetPaletteColor('claret-100');
  padding-bottom: 3px;
}

.landing,
.openings {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

// Footer
footer {
  min-height: 70px;
  padding-right: 2em;
  padding-left: 2em;
}

footer .o-footer-services__container:before {
  border-top: none;
}

.o-footer-services__wrapper {
  text-align: center;

  .o-footer-services__links {
    float: none;
  }
}

footer .o-footer-services__wrapper--legal p {
  float: none;
}

footer {
  padding-bottom: 2em;
  padding-top: 2em;
  margin-top: auto;
  background-color: $dark-slate;
}

@media only screen and (max-width: $breakpoint-m) {
  footer {
    margin-top: 1em;
  }
}

// Form
.form {
  margin-top: 1rem;
  margin-bottom: 3rem;

  h2 {
    margin-left: 0.5rem;
    margin-bottom: 1.3rem;
  }

  .o-forms {
    background-color: oColorsGetPaletteColor('white');
  }
}

.fields {
  padding: 30px;

  .o-forms__label {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .o-forms__text {
    margin-bottom: 1rem;
  }

  .upload-button {
    margin-top: 1em;
    margin-bottom: 1.5em;
    width: 100%;
  }

  .upload-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .submit-button {
    margin-bottom: 2rem;
  }
}

//////////////////////////////////////////////////////////
// Animation
//////////////////////////////////////////////////////////

// Financial time old-style logo fading in
@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: none;
  }
  100% {
    opacity: 0;
    -webkit-filter: grayscale(95%);
    filter: grayscale(95%);
  }
}

.fade-out-animation {
  animation: fadeOut $animation-fade-out;
  animation-iteration-count: 1;

  opacity: 0;
  -webkit-filter: grayscale(95%); // Maybe logo with predefined color would be better?
  filter: grayscale(95%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-animation {
  animation: fadeIn $animation-fade-in;
  animation-iteration-count: 1;

  opacity: 1;
  z-index: 2;
}

// Accordion animation
// https://tympanus.net/codrops/2012/02/21/accordion-with-css3/

.vacancy__i  {
  @include oIconsGetIcon('arrow-down', oColorsGetPaletteColor('white-80'), 32);
}

.vacancy__hidden-input {
  display: none;
}

.vacancy__hidden-input ~ .vacancy__table {
  max-height: 0;
  overflow-y: hidden;

  transition:
		max-height .6s ease-in-out;
}

.vacancy__hidden-input:checked ~ .vacancy__table {
  // Nice article! https://css-tricks.com/using-css-transitions-auto-dimensions/
  height: auto;
  max-height: 1700px; // Be careful, this magic number might have to change if text changes!
  margin-bottom: 3rem;

  transition:
		max-height 2s ease-in-out;
}

@media only screen and (max-width: $breakpoint-vl) {
  .vacancy__hidden-input:checked ~ .vacancy__table {
    max-height: 2100px; // Be careful, this magic number might have to change if text changes!
  }
}

@media only screen and (max-width: $breakpoint-l) {
  .vacancy__hidden-input:checked ~ .vacancy__table {
    max-height: 2500px; // Be careful, this magic number might have to change if text changes!
  }
}

@media only screen and (max-width: $breakpoint-m) {
  .vacancy__hidden-input:checked ~ .vacancy__table {
    max-height: 2800px; // Be careful, this magic number might have to change if text changes!
  }
}

@media only screen and (max-width: $breakpoint-s) {
  .vacancy__hidden-input:checked ~ .vacancy__table {
    max-height: 3500px; // Be careful, this magic number might have to change if text changes!
  }
}

.vacancy__hidden-input:checked ~ label i,
.vacancy__hidden-input:checked ~ i  {
  @include oIconsGetIcon('arrow-up', oColorsGetPaletteColor('white-80'), 32);
}
